<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ metadata.title }}</title>
    <meta name="description" content="{{ metadata.description }}">
    <meta name="author" content="PHP React Boilerplate">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="/img/og-icon.jpg">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- <link rel="stylesheet" href="css/tinyset.css">
    <link rel="stylesheet" href="css/base.css"> -->

    <!-- <script src="js/vendor/modernizr-2.8.3.min.js"></script> -->
</head>
